@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

*{
    margin:0px;
    padding:0px;
}

:root{
    --cor0:#ebc383;
    --cor1:#c29854;
    --cor2:#734906;
    --cor3:#3d2c11;
    --cor4:#4577a8;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color:var(--cor3);
    color:white;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items:center;
}
header h1{
    font-family:'Quintessential', Georgia, serif;
    font-size:3em;
}
header > a{
    color:white;
    text-decoration:none;
}
nav a{
    color:white;
    text-decoration:none;
    padding:15px;
    display:inline-block;
    font-weight:bold;
}
nav a:hover{
    border-bottom:5px solid var(--cor1);
    padding-bottom:10px;
}
.slider{
    position:relative;
    width:100%;
    height:550px;
}
.slider li{
    list-style:none;
    position:absolute;
    width:100%;
    height:100%;
}
.slider div{
    width:100%;
    height:100%;
    vertical-align:top;
    background-position:center;
    background-size:cover;
}
.slider li:nth-child(1) div.fotos{
    background-image:url(imagens/foto1.jpg);
}
.slider li:nth-child(2) div.fotos{
    background-image:url(imagens/fundo.jpg);
}
.slider li:nth-child(3) div.fotos{
    background-image:url(imagens/foto1.jpg);
}
.slider input{
    display:none;
}
.slider label{
    display:block;
    width:20px;
    height:20px;
    background-color:var(--cor0);
    border-radius:50%;
    position:absolute;
    cursor:pointer;
    z-index:10;
    top:10px;
}
.slider li:nth-child(1) label{
    left:44%;
}
.slider li:nth-child(2) label{
    left:50%;
}
.slider li:nth-child(3) label{
    left:56%;
}
.slider div{
    opacity:0;
    visibility:hidden;
}
.slider li input:checked ~ div{
    opacity:1;
    visibility:visible;
    z-index:10;
}
.slider li input:checked~label{
    background-color:var(--cor3);
}