@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

:root{
    --cor0:#ebc383;
    --cor1:#c29854;
    --cor2:#734906;
    --cor3:#3d2c11;
    --cor4:#4577a8;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    background-color:var(--cor0);
    margin:0px;
}
header{
    background-color:var(--cor1);
    background-image:url(imagens/fundo.jpg);
    background-position:5% 100%;
    background-size:cover;
    background-attachment:fixed;

    height:70vh;
}
header h1{
    font-family: 'Quintessential', georgia, serif;
    font-size:3.5em;
    margin:0px auto;
    color:white;
   /* background-image:linear-gradient(to right, transparent, #734906d7, transparent);*/
    display:inline-block;
}
header a{
    text-decoration:none;
}
header p{
    margin-bottom:0px;
}
nav{
   /* background-color:#734906d7;*/
    padding:8px;
    display:inline-block;

}
header div{
    background-color:#7349067a;
    position:fixed;
    top:0px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
nav a{
    color:white;
    padding:8px 12px;
    margin:0px 20px;
    font-weight:bold;
    border-radius:3px;
}
nav a:hover{
    color:var(--cor2);
    background-color:white;
    transition-duration:0.5s;
}
main{
    background-color:white;
    max-width:1000px;
    margin:auto;
}
main h2{
    margin:25px auto 0px auto;
    font-family: 'Quintessential', georgia, serif;
    font-size:3em;
    color:var(--cor3);
}
.container{
    display:flex;
    flex-wrap:wrap;
}
.item{
    min-width:350px;
    width:50%;
    max-width:450px;
    margin: auto;
    flex-grow:1;
}
main img{
    min-width:375px;
    width:50%;
    flex-grow:1;
    padding:25px 0px;
}
main p{
    text-align:justify;
    font-size:1.5em;
    margin:0px 45px 45px 45px;
    text-indent:25px;
}