@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Quintessential&display=swap');

*{
    margin:0px;
    padding:0px;
}

:root{
    --cor0:#ebc383;
    --cor1:#c29854;
    --cor2:#734906;
    --cor3:#3d2c11;
    --cor4:#4577a8;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:var(--cor3);
}
p{
    text-indent:20px;
}

/*Cabeçalho*/
header{
    background-color:var(--cor3);
    color:white;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items:center;
}
header h1{
    font-family:'Quintessential', Georgia, serif;
    font-size:3em;
}
header > a{
    color:white;
    text-decoration:none;
}
nav a{
    color:white;
    text-decoration:none;
    padding:15px 10px;
    display:inline-block;
    font-weight:bold;
    font-size:1em;
}
nav a:hover{
    border-bottom:5px solid var(--cor1);
    padding-bottom:10px;
}
nav a:active{
    background-image:linear-gradient(to top, var(--cor2),var(--cor3));
}

/*Configurações pro Slider da página principal*/
.slider{
    position:relative;
    width:100%;
    height:79vh;
}
.slider li{
    list-style:none;
    position:absolute;
    width:100%;
    height:100%;
}
.slider div{
    width:100%;
    height:100%;
    vertical-align:top;
    background-position:center top;
    background-size:cover;
}
.slider li:nth-child(1) div.fotos{
    background-image:url(imagens/foto1-m.jpg);
}
.slider li:nth-child(2) div.fotos{
    background-image:url(imagens/foto2-m.jpg);
}
.slider li:nth-child(3) div.fotos{
    background-image:url(imagens/foto3-m.jpg);
}
.slider input{
    display:none;
}
.slider label{
    display:block;
    width:35px;
    height:10px;
    background-color:var(--cor0);
    border-radius:15%;
    position:absolute;
    cursor:pointer;
    z-index:10;
    top:10px;
}
.slider li:nth-child(1) label{
    left:40%;
}
.slider li:nth-child(2) label{
    left:50%;
}
.slider li:nth-child(3) label{
    left:60%;
}
.slider label:hover{
    background-color:#fce0b5;
    transition-duration:0.2s;
}
.slider div{
    opacity:0;
    visibility:hidden;
    transition-duration:0.2s;
}
.slider li input:checked ~ div{
    opacity:1;
    visibility:visible;
    z-index:10;
    transition-duration:0.3s;
}
.slider li input:checked ~ label{
    background-color:var(--cor3);
}
.slider li input:checked ~ label:hover{
    background-color:var(--cor2);
    transition-duration:0.2s;
}
@media (min-width:613px){
    .slider{
        height:86vh;
    }
    .slider li:nth-child(1) div.fotos{
        background-image:url(imagens/foto1.jpg);
    }
    .slider li:nth-child(2) div.fotos{
        background-image:url(imagens/foto2.jpg);
    }
    .slider li:nth-child(3) div.fotos{
        background-image:url(imagens/foto3.jpg);
        background-position:center bottom;
    }
}

/*Configurações pro main da Sobre*/
.sobre {
    background-color:white;
    font-size:1.3em;
    max-width:1000px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    flex-direction:row;
}
.sobre article{
    padding:25px 25px 25px 25px;
    width: 90%;
    margin:auto;
}
@media (min-width:400px){
    .sobre article{
        padding:25px 45px 45px 45px;
    }
}
@media(min-width:700px){
    .sobre article{
        width: 45%;
    }
}
.sobre article h2{
    font-family: 'Libre Baskerville', serif;
    font-size:2em;
    font-weight:bold;
    color:var(--cor3);
    padding:10px;
}
.sobre article p{
    text-align:justify;
    text-align-last: left;
}
.sobre strong{
    color:var(--cor3);
}
.sobre figure{
    height:79vh;
    width:95%;
    background-image:url(imagens/foto1-m.jpg);
    background-position:cover;
    margin:auto;
}
@media (min-width:700px){
    .sobre figure {
        height:86vh;
        width:41%;
    }
}
/*Configurações específicas para o Aulas*/
.aulas ul{
    list-style:inside;
    padding:35px 45px 35px 45px;
    margin: 0px auto;
    line-height:1.3em;
    align-self:flex-end;
}
.aulas li{
    padding-bottom:8px;
}
.aulas figure{
    background-image:url(imagens/foto2-m.jpg);
    background-size:cover;
    width:100%;
    height: 285px;
}
@media (min-width:613px){
    .aulas figure{
        background-image:url(imagens/foto2.jpg);
    }
    .aulas ul{
        padding-left:0px;
    }
}
/*Configurações específicas para o Contato*/
.redes {
    margin-top:15px;
    display:flex;
    justify-content:space-around;
}
.redes a{
    display:block;
}
.mapa{
    width:40%;
    margin:auto;
    padding:10px;
    
}
@media (max-width:700px){
    .mapa {
        width:100%;
    }
}
.sobre iframe{
    width:100%;
}
footer{
    background-color:var(--cor3);
    color:white;
    font-size:0.8em;
    text-align:center;
    padding:5px 0px;
    position:fixed;
    bottom:0px;
    width:100%;
}
footer a{
    font-weight:bold;
    color:white;
    text-decoration:none;
    padding:1px 5px;
}
footer a:hover{
    color:black;
    background-color:white;
}